:root {
    --main-color: rgb(20, 20, 20);
    --main-text-color: rgb(240 240, 240);

    --side-color: rgb(30, 30, 30);
    --highlight: rgb(40, 40, 60);
}

body {
    background-color: var(--main-color);
    color: var(--main-text-color);

    overflow: hidden;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#nav {
    height: 100%;
    background-color: var(--side-color);

    display: flex;
    flex-direction: column;
}

.navButton {
    width: 3.5em;
    height: 3.5em;
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 1em;
}

.navButton-highlight {
    background-color: var(--highlight);
}

section {
    width: 100%;
    padding: 1em;
}

.toDoTaskContainer {
    background-color: var(--highlight);
    margin: 0.5em;
    padding: 0.5em;
    width: fit-content;

    display: flex;
    align-items: center;
}

.toDoTaskContainer-taskName {
    width: 15em;
    margin: 0em 0.25em;
    
    user-select: none;
    cursor: inherit;
}

.toDoTasksContainer > .toDoTaskContainer {

    cursor: grab;
}

.toDoTasksContainer > .toDoTaskContainer:active {
    cursor: grabbing;
}

.toDoTaskCheckBox {
    width: 2em;
    height: 2em;
    display: inline-block;

    background-color: white;
    border: 3px solid black;
}

.toDoTaskCheckBox-checked {
    background-color: blue;
}

.toDoTaskStar {
    width: 2em;
    height: 2em;

    display: inline-block;

    background-color: white;
    border: 3px solid black;
}

.toDoTaskStar-starred {
    background-color: yellow;
}